*
  box-sizing: border-box

:root
  /* instant taps */
  touch-action: manipulation

  /* heed EXIF orientation */
  image-orientation: from-image

  /* horizontal scrollbar only */
  overflow: scroll visible

  /* hide bottom gap on iOS */
  background: black

.Memories
  display: flex
  flex-flow: column nowrap
  justify-content: start
  margin: 0
  position: absolute
  left: 0
  right: 0
  top: 0
  bottom: 0
  width: 100%
  height: 100%
  background: black

  .Display
    width: 100%
    height: 80%
    line-height: 0
    position: fixed
    top: 0
    background: black

    > *
      width: 100%
      height: 100%
      object-fit: scale-down

      &:not([src])
        visibility: hidden

  .Timeline
    /* instant taps, no pan-y, no pinch-zoom */
    touch-action: pan-x

    height: 20%
    line-height: 0
    white-space: nowrap
    position: absolute
    bottom: 0
    background: black

    .Cluster
      display: inline-block
      height: 100%
      margin-right: 1em
      white-space: nowrap
      overflow: hidden

      > a
        display: inline-block
        width: calc(20vh * var(--width) / var(--height))
        height: 20vh
        vertical-align: middle
        filter: brightness(0.5)
        transition-duration: 0.25s
        transition-property: filter
        overflow: hidden
        position: relative

        &:focus
          outline: 3px solid fuchsia
          outline-offset: -3px

        &.selected, &:hover
          filter: brightness(1)

        &.video:after
          content: "▶"
          display: flex
          align-items: center
          justify-content: center
          position: absolute
          inset: 0
          font-size: 8vh
          color: #ffffff80
          -webkit-text-stroke-width: 1vh
          -webkit-text-stroke-color: fuchsia

        > *
          width: 100%
          height: 100%
          object-fit: cover
          object-position: right

      &:not(.expanded) > a:not(:first-child)
        width: 2em
        height: calc(100% - 20% * var(--index) * var(--index) / (var(--length) - 1) / (var(--length) - 1))

#debug
  position: fixed
  left: 0
  top: 0
  width: 100%
  color: fuchsia
  font: 3vh monospace
  white-space: pre-wrap
  word-break: break-all
  pointer-events: none
